---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
import HeroHeader from "../components/HeroHeader.astro";
import WhyUs from "../components/WhyUs.astro";
import Newsletter from "../components/Newsletter.astro";
import CaseRoll from "../components/CaseRoll.astro";
import AreaInterestList from "../components/AreaInterestList.astro";

const hero = {
  bg: "#750843",
  title: "Wise produkty",
  subtitle: "Obszary zastosowania",
  text: "Torem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia",
  button_link: "/obszary-zastosowania",
};
---

<Layout title="Wise finance">
  <main>
    <HeroHeader
      bg={hero.bg}
      title={hero.title}
      subtitle={hero.subtitle}
      text={hero.text}
      button_link={hero.button_link}
    />
    <AreaInterestList />
    <CaseRoll />
    <WhyUs />
    <Newsletter />
  </main>
</Layout>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<link rel="stylesheet" href="/assets/css/slider.css" />
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
></script>
<script is:inline src="/assets/js/script.js"></script>
