---
const footerMenu = [
  { title: "FAQ", link: "/faq" },
  { title: "Aktualności", link: "/aktualnosci" },
  { title: "O firmie", link: "/o-firmie" },
  { title: "Wise energy", link: "/wise-energy" },
  { title: "PV dla MŚP", link: "/pv-dla-msp" },
  { title: "Case study", link: "/case-study" },
  { title: "Ustawienia cookies", link: "/cookies" },
  { title: "Polityka prywatności", link: "/polityka-prywatnosci" },
  { title: "Kontakt", link: "/kontakt" },
];
---

<footer class="bg-bordo-300 pt-28 pb-36">
  <div class="container px-8 lg:px-16 lg:flex">
    <div class="lg:mr-auto mb-8 lg:mb-0">
      <a href="/" class="logo">
        <svg
          class="mb-4 lg:mb-24"
          width="35"
          height="34"
          viewBox="0 0 35 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 26.9522V21.681L14.8566 16.5383L0 11.9801V6.7439L17.4954 0L34.9909 6.7439V11.3957L20.1343 16.5383L34.9909 21.7394V26.3328L17.4954 33.0767L0 26.9873V26.9522ZM3.00248 24.0069L17.4954 28.7755L31.9884 24.0069L17.4954 19.3434L3.00248 24.0069ZM3.00248 9.04642L17.4954 13.7099L31.9884 9.04642L17.4954 4.27776L3.00248 9.04642Z"
            fill="#F9F7F7"></path>
        </svg>
        <svg
          width="176"
          height="31"
          viewBox="0 0 176 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3.70098 6L7.82095 20.301L12.0728 6H15.4945L19.5834 20.1597L23.7034 6H26L20.6852 24H17.0928L13.1358 10.0759L8.94598 24H5.35363L0 6H3.68547H3.70098Z"
            fill="#F9F7F7"></path>
          <path
            d="M29 1.91048C29 0.828643 29.8571 0 31.0154 0C32.1042 0 33 0.82097 33 1.91048C33 3 32.1042 3.8133 31.0154 3.8133C29.8571 3.8133 29 2.99233 29 1.91048ZM29.2625 6.41432H32.7374V24H29.2625V6.41432Z"
            fill="#F9F7F7"></path>
          <path
            d="M36.0074 20.5557L37.4067 19.5246C38.5529 21.7467 40.3392 22.8498 42.7283 22.8498C45.1175 22.8498 46.5837 21.6508 46.5837 19.7324C46.5837 17.918 45.3408 17.3345 42.2446 16.5112L41.5747 16.3433C38.2254 15.4161 36.5359 13.6416 36.5359 11.0677C36.5359 7.81447 38.925 6 42.4976 6C46.0702 6 48.1095 7.7825 49.1292 10.0046L47.7299 11.0358C46.5465 9.01346 45.244 8.15818 43.1079 8.15818C40.9718 8.15818 39.9522 8.94152 39.9522 10.5242C39.9224 11.8271 40.8155 12.4745 41.7384 12.9222C42.0287 13.0581 42.7283 13.2339 42.9516 13.3298C43.2047 13.3618 44.0011 13.5696 44.135 13.6016C47.8341 14.4249 50 15.8957 50 19.1809C50 21.0673 49.3301 22.5381 48.0202 23.5292C46.7103 24.5204 45.0877 25 43.0781 25C39.4758 25 37.0494 23.2894 36 20.5478L36.0074 20.5557Z"
            fill="#F9F7F7"></path>
          <path
            d="M67.058 20.204L68.4452 21.1632C67.1582 23.3534 64.7153 25 61.2783 25C58.6043 25 56.3926 24.1127 54.6433 22.3302C52.8939 20.5477 52 18.3256 52 15.6559C52 12.9861 52.8246 10.724 54.4737 8.8456C56.1537 6.95919 58.2344 6 60.7466 6C63.1201 6 65.1006 6.85528 66.6573 8.6058C68.2063 10.3563 69 12.7143 69 15.7278H55.4986C55.568 17.6462 56.1228 19.3248 57.1786 20.7236C58.2652 22.1304 59.8527 22.8498 61.9642 22.8498C64.0757 22.8498 65.432 22.0984 67.0503 20.212L67.058 20.204ZM57.587 9.69289C56.6315 10.724 55.9995 12.0189 55.7067 13.5936H65.6093C65.5784 12.1868 65.0467 10.9239 64.0911 9.82877C63.1355 8.70172 62.0413 8.15019 60.8237 8.15019C59.6061 8.15019 58.5426 8.66176 57.587 9.69289Z"
            fill="#F9F7F7"></path>
          <path
            d="M69.0079 29.1349H69.4329L73.455 29.5635C74.8482 28.6825 75.7613 27.4365 76.4382 24.4603L79.9723 9.05556H76.9576L76.9891 8.43651L80.169 8.2381L80.5547 6.57143C81.4599 2.57937 84.8995 0 89.2837 0H90V1.92857H89.575L85.0334 1.43651C83.7976 2.31746 83.0892 4.1508 82.6327 6.14286L82.1762 8.13492L84.443 8.00794H85.419V9.05556H81.9794L78.8939 22.5C77.4693 28.8492 73.1559 31 69.7478 31H69V29.1349H69.0079Z"
            fill="#F9F7F7"></path>
          <path
            d="M88.7962 9.01361V8.5725L93.0113 7.93533H93.5976L93.5659 8.30293L90.1035 21.6018C89.7153 22.9823 90.0401 23.7257 90.7215 23.7257C91.3395 23.7257 91.7673 23.0885 92.5517 21.6344L93.7957 19.3145L94.4454 19.6167L93.2014 21.9367C92.0288 24.224 91.2444 25 89.9688 25C88.4 25 87.5205 23.889 88.2732 21.1607L91.3395 9.30769L88.7962 9.00544V9.01361ZM93.3044 1C94.2552 1 95 1.74336 95 2.71545C95 3.68754 94.2473 4.46358 93.3044 4.46358C92.3616 4.46358 91.6406 3.68754 91.6406 2.71545C91.6406 1.74336 92.3616 1 93.3044 1Z"
            fill="#F9F7F7"></path>
          <path
            d="M99.7954 9.52275L97.2937 9.22465V8.78958L101.44 8.16114H102.017V8.5237L98.868 21.0119H99.1252L101.822 15.2028C104.682 9.06351 106.287 8 108.018 8C110.488 8 111.361 9.99005 110.262 13.5754L107.885 21.6806C107.433 23.0422 107.69 23.7431 108.368 23.7431C108.976 23.7431 109.397 23.1147 110.169 21.6806L111.392 19.3924L112 19.6905L110.808 21.9787C109.654 24.2346 108.883 25 107.628 25C106.085 25 105.251 23.9043 106.054 21.2455L108.399 13.3417C109.14 10.7877 108.75 9.45829 107.207 9.45829C105.859 9.45829 104.705 10.7232 100.879 18.0872L98.377 23.0341L97.925 24.7583H96L99.7876 9.51469L99.7954 9.52275Z"
            fill="#F9F7F7"></path>
          <path
            d="M114 19.1705C114 13.8452 117.97 8 122.489 8C124.224 8 125.672 8.90593 126.428 10.5287H126.627L127.183 8.44903H129.149L125.672 21.5023C125.242 22.8336 125.576 23.5505 126.261 23.5505C126.881 23.5505 127.311 22.9361 128.13 21.5338L129.379 19.3281L130 19.6196L128.791 21.8568C127.573 24.031 126.794 24.7794 125.513 24.7794C123.937 24.7794 123.054 23.7081 123.81 21.0769L125.648 14.1603H125.481L123.746 17.9889C121.646 22.7312 120.27 25 118.01 25C115.615 25 114.008 22.5658 114.008 19.1548L114 19.1705ZM118.527 23.5505C120.333 23.5505 121.184 21.5338 123.675 16.7678L126.3 11.8364L126.332 11.608C125.545 9.75672 124.264 8.97683 122.919 8.97683C119.506 8.97683 116.1 14.5621 116.1 19.3675C116.1 22.0931 116.984 23.5584 118.527 23.5584V23.5505Z"
            fill="#F9F7F7"></path>
          <path
            d="M134.784 9.52275L132.279 9.22465V8.78958L136.43 8.16114H137.007V8.5237L133.855 21.0119H134.113L136.812 15.2028C139.675 9.06351 141.282 8 143.014 8C145.487 8 146.36 9.99005 145.26 13.5754L142.881 21.6806C142.429 23.0422 142.686 23.7431 143.365 23.7431C143.973 23.7431 144.394 23.1147 145.167 21.6806L146.392 19.3924L147 19.6905L145.814 21.9787C144.66 24.2346 143.887 25 142.631 25C141.087 25 140.252 23.9043 141.056 21.2455L143.404 13.3417C144.145 10.7877 143.755 9.45829 142.218 9.45829C140.868 9.45829 139.706 10.7232 135.883 18.0872L133.379 23.0341L132.927 24.7583H131L134.791 9.51469L134.784 9.52275Z"
            fill="#F9F7F7"></path>
          <path
            d="M149 19.119C149 14.2103 152.977 8 158.155 8C161.025 8 162.456 9.96817 161.871 13.2694L161.744 13.9829H159.467L159.792 12.7911C160.345 10.5249 159.728 8.84686 157.807 8.84686C153.862 8.84686 151.095 15.1513 151.095 19.0249C151.095 22.0987 152.819 23.6121 154.708 23.6121C156.171 23.6121 157.736 22.7103 159.175 20.703L159.76 19.8953L160.408 20.3501L159.855 21.1578C158.163 23.714 156.076 25 153.894 25C151.024 25 149.008 22.6711 149.008 19.119H149Z"
            fill="#F9F7F7"></path>
          <path
            d="M163.008 19.3386C163.008 14.2652 166.986 8 172.31 8C174.396 8 176 8.90176 176 10.7131C176 12.2657 174.653 14.8141 168.683 16.202L165.281 16.9783C165.156 17.6605 165.086 18.3349 165.086 18.9857C165.086 22.0909 166.628 23.6042 168.581 23.6042C169.99 23.6042 171.563 22.7652 172.941 20.9852L173.649 20.0521L174.225 20.5383L173.649 21.3773C171.789 23.9336 169.835 25 167.873 25C165.078 25 163 22.9613 163 19.3464L163.008 19.3386ZM168.465 15.3944C172.824 14.2339 173.984 12.2578 173.984 10.7758C173.984 9.45065 173.019 8.83902 171.672 8.83902C168.659 8.83902 166.285 12.5558 165.452 16.2099L168.465 15.4022V15.3944Z"
            fill="#F9F7F7"></path>
        </svg>
      </a>
    </div>
    <div class="mb-8 lg:mb-0">
      <h3 class="text-yellow-700 mb-2">
        <span class="mr-1 victorserif">Na</span><span class="lagusans"
          >skróty</span
        >
      </h3>
      <nav class="w-full max-w-[516px]">
        <ul class="columns-2 lg:columns-3 gap-6">
          {
            footerMenu.map((item) => (
              <li class="py-4">
                <a
                  href={item.link}
                  class="text-yellow-600 small-text py-2 link"
                >
                  {item.title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div class="lg:ml-auto w-full max-w-[200px]">
      <h3 class="text-yellow-700 mb-2">
        <span class="mr-1 victorserif">Social</span><span class="lagusans"
          >media</span
        >
      </h3>
      <nav class="w-full max-w-[516px]">
        <ul class="">
          <li class="py-4">
            <a
              href="{item.link}"
              class="text-yellow-600 small-text py-2 flex items-center"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="mr-4"
              >
                <path
                  d="M11.8453 4.99992H8.99999V3.73325C8.98735 3.63899 8.99561 3.5431 9.02419 3.45239C9.05277 3.36168 9.10096 3.27837 9.16535 3.20837C9.22975 3.13838 9.30876 3.08342 9.39678 3.0474C9.4848 3.01137 9.57967 2.99516 9.67466 2.99992C9.95332 2.99992 11.6667 3.00659 11.6667 3.00659V0.333252H8.78066C6.16266 0.333252 5.66666 2.31592 5.66666 3.56992V4.99992H3.66666V7.66659H5.66666V15.6666H8.99999V7.66659H11.5673L11.8453 4.99992Z"
                  fill="#F9F7F7"></path>
              </svg>

              Facebook
            </a>
          </li>
          <li class="py-4">
            <a
              href="{item.link}"
              class="text-yellow-600 small-text py-2 flex items-center"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="mr-4"
              >
                <path
                  d="M4.33333 15.0001H1V6.33341H4.33333V15.0001ZM10.3333 9.00008C9.97971 9.00008 9.64057 9.14056 9.39053 9.39061C9.14048 9.64065 9 9.97979 9 10.3334V15.0001H5.66667V6.33341H9V7.32341C9.7442 6.69268 10.6846 6.34033 11.66 6.32675C13.6347 6.32675 15 7.79341 15 10.5634V15.0001H11.6667V10.3334C11.6667 9.97979 11.5262 9.64065 11.2761 9.39061C11.0261 9.14056 10.687 9.00008 10.3333 9.00008ZM4.33333 3.33341C4.33333 3.66305 4.23559 3.98528 4.05245 4.25936C3.86931 4.53345 3.60902 4.74707 3.30447 4.87321C2.99993 4.99936 2.66482 5.03237 2.34152 4.96806C2.01822 4.90375 1.72124 4.74501 1.48816 4.51193C1.25507 4.27884 1.09633 3.98187 1.03203 3.65857C0.967717 3.33526 1.00072 3.00015 1.12687 2.69561C1.25301 2.39107 1.46664 2.13077 1.74072 1.94763C2.0148 1.7645 2.33703 1.66675 2.66667 1.66675C3.1087 1.66675 3.53262 1.84234 3.84518 2.1549C4.15774 2.46746 4.33333 2.89139 4.33333 3.33341Z"
                  fill="#F9F7F7"></path>
              </svg>

              Linked In
            </a>
          </li>
          <li class="py-4">
            <a
              href="{item.link}"
              class="text-yellow-600 small-text py-2 flex items-center"
            >
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="mr-4"
              >
                <path
                  d="M15.3333 4.41857L14 4.08524L14.6667 2.75191L13.024 3.21857C12.5975 2.8207 12.0639 2.55641 11.4889 2.45831C10.914 2.36022 10.3229 2.43262 9.78859 2.66658C9.25431 2.90054 8.80022 3.28582 8.48238 3.77487C8.16453 4.26391 7.99684 4.83532 7.99999 5.41857V6.08524C5.64066 6.57191 3.57732 5.28524 1.66666 3.08524C1.33332 4.86302 1.66666 6.19635 2.66666 7.08524L0.666656 6.75191C0.936656 8.13124 1.57466 9.21857 3.33332 9.41857L1.66666 10.0852C2.33332 11.4186 3.37732 11.6252 4.99999 11.7519C3.73794 12.6537 2.21734 13.1215 0.666656 13.0852C9.16999 16.8646 14 11.3092 14 6.41857V5.53324L15.3333 4.41857Z"
                  fill="#F9F7F7"></path>
              </svg>

              Twitter
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
